@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: gray;
}

hr {
  margin-top: 10px;
  display: block; 
  height: 1px;
  border: 0; 
  border-top: 1px solid #ccc;
  padding: 0; 
}

header#main-header{
  height: 64px;
  background: rgb(12, 41, 208);
}

header#main-header .content {
  display: flex;
  align-items: center;
  justify-content: center;
}

header#main-header .content img {
  margin-top: 20px;
  margin-left: 70px;
}

header#main-header .content p {
  margin-top: 20px;
  margin-right : 70px;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

div.div-scroll {
  width: 700px;
  max-height: 450px;
  overflow-x: hidden;
  margin: auto;
}

@media (max-height: 450px) {
  div.div-scroll {
    overflow-y: hidden;
  }
}

div.postlist {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.postlist .post {
  width: 700px;
  background: #fff;
  padding: 8px;
  padding: 10px;
}

div.postlist .post .content{
  margin-top: 3px;
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
  color: #3E3E3E;
}

div.postlist .post .content .question{
  font-weight: bold;
  font-size: 16px;
}



div.postlist .post .content span {
  font-family: 'Oxygen', sans-serif;
  color: #9A9A9A;
  font-size: 11px;
}

div.question textarea{
  padding: 12px 12px;
  margin: 8px 0;
  border-radius: 4px;
  width: 550px;
  height: 50px;
  color: #333;
  font-size: 15px;
  vertical-align: middle;
  font-family: 'Oxygen', sans-serif;
  max-height: 200px;
  max-width: 550px;
  min-height: 50px;
  min-width: 550px;
  resize: none;
}

div.question input{
  width: 150px;
  height: 50px;
  margin: 8px 0;
  background-color: rgb(12, 41, 208);
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid rgb(12, 41, 208);
  vertical-align: middle;
  font-family: 'Oxygen', sans-serif;
}

div.question input:hover {
  opacity: 0.7;
  cursor: pointer;
}

p {
  margin-top: 5px;
}
